html { 
    background: url(../img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%;
	overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
	overflow: hidden;
}

a:link {
	text-decoration: none;
}

.menu-wrapper {
    height: 100%;
	width: 200px;
	position: relative;
	display: inline-block;
    background-color: #FFF;
	border-right: 10px solid #DF7027;
}

.tab {
	font-size: 24px;
	padding: 10px 0px 10px 20px;
	margin-top: 30px;
	color: #DF7027;
}

.active {
	background-color: #DF7027;
	color: #FFF;
}

.menu {
	position: absolute;
	bottom: 10%;
	padding-left: 20px;
}

.menu img {
	width: 80px;
}

.splash-wrapper {
    margin-left: 52%;
    position: absolute;
    bottom: 10%;
}

.splash-div {
    padding: 10px 100px 10px 20px;
    display: inline-block;
    color: #FFF;
    margin: 0px 0px 20px 0px;
    font-size: 62px;
    font-weight: 700;
}

.splash-div-title {
    padding: 10px 200px 10px 20px;
    font-size: 72px;
}

.splash-btn {
    background-color: #DF7027;
    padding: 10px 20px 10px 20px;
    font-size: 62px;
    margin-bottom: 45%;
}

.splash-btn span:nth-child(1) {
    font-style: italic;
}

.splash-btn span:nth-child(2) {
    position: relative;
    top: 5px;
}

.splash-text {
    background-color: #158546;
}

@media (max-width: 1480px) {
    .splash-wrapper {
        margin-left: 35%;
        bottom: 5%;
    }
    .splash-div {
        padding: 10px 70px 10px 20px;
        font-size: 48px;
    }
    .splash-btn {
        padding: 10px 20px 10px 20px;
        font-size: 62px;
    }
    .splash-div-title {
        padding: 10px 150px 10px 20px;
        font-size: 58px;
    }
}

@media (max-width: 860px) {
    .splash-wrapper {
        margin: auto;
    }
	.splash-btn {
		margin-bottom: 20px;	
	}
	.menu {
		bottom: 45%;
	}
	.menu img {
		width: 40px;	
	}
}

@media (max-width: 550px) {
    .splash-div {
        padding: 10px 20px 10px 20px;
        font-size: 28px;
    }
    .splash-btn {
        margin-bottom: 20px;
        padding: 10px 20px 10px 20px;
        font-size: 42px;
    }
    .splash-div-title {
        padding: 10px 45px 10px 20px;
        font-size: 38px;
    }
	.menu {
		bottom: 40%;
	}
}