.sponsors {
    width: fit-content;
    text-align: center;
    margin: 80px auto 80px auto;
}

.sponsors img {
    width: 15%;
    margin-right: 40px;
}

.sponsorship {
    margin-top: 40px;
}

.sponsorship table tbody tr th {
	color: #FFF;
}

.sponsorship table tbody tr th:first-child {
	background-color: #cd7f32;
}

.sponsorship table tbody tr th:nth-child(02) {
	background-color: #C0C0C0;
}

.sponsorship table tbody tr th:nth-child(03) {
	background-color: #FFD700;
}

.sponsorship table tbody tr th:nth-child(04) {
	background-color: #A0AABF;
}

.sponsorship table tbody tr th:nth-child(05) {
	background-color: #DF7027;
}

.sponsorship table tbody tr:nth-child(02) {
	font-style: italic;
}