html {
    background: url(../img/renders/render-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.splash-wrapper {
    margin-left: 45%;
    position: absolute;
    z-index: 1;
    bottom: 10%;
}

.splash-div {
    padding: 10px 100px 10px 20px;
    display: inline-block;
    color: #FFF;
    margin: 0px 0px 20px 0px;
    font-size: 42px;
    font-weight: 700;
}

.splash-div-title {
    padding: 10px 200px 10px 20px;
    font-size: 68px;
}

.splash-btn {
    background-color: #DF7027;
    padding: 10px 20px 10px 20px;
    font-size: 62px;
    margin-bottom: 45%;
}

.splash-btn span:nth-child(1) {
    font-style: italic;
}

.splash-btn span:nth-child(2) {
    position: relative;
    top: 5px;
}

.splash-text {
    background-color: #19aa61;
}

@media (max-width: 1700px) {
    .splash-wrapper {
        margin-left: 35%;
        bottom: 5%;
    }

    .splash-div {
        padding: 10px 50px 10px 20px;
        font-size: 38px;
    }

    .splash-div-title {
        padding: 10px 100px 10px 20px;
        font-size: 62px;
    }
}

@media (max-width: 1480px) {
    .splash-div {
        font-size: 28px;
    }

    .splash-div-title {
        font-size: 52px;
    }
}

@media (max-width: 860px) {
    .splash-wrapper {
        margin: auto;
    }
}

@media (max-width: 550px) {
    .splash-div {
        padding: 10px 20px 10px 20px;
        font-size: 28px;
    }

    .splash-div-title {
        padding: 10px 20px 10px 20px;
        font-size: 38px;
    }
}

@media (max-width: 470px) {
  .splash-div {
      padding: 10px 20px 10px 20px;
      font-size: 18px;
  }

  .splash-div-title {
      padding: 10px 20px 10px 20px;
      font-size: 24px;
  }
}
