.sponsors {
    width: fit-content;
    text-align: center;
    margin: 80px auto 80px auto;
}

.sponsors img {
    width: 15%;
    margin-right: 40px;
}

.sponsorship {
    margin-top: 40px;
    overflow-x: scroll;
    margin-bottom: 40px;
}

.sponsorship table {
    border: none;
}

.sponsorship table tbody tr th, .sponsorship table tbody tr td {
    color: #FFF;
}

.bronze {
    background-color: #cd7f32;
}

.silver {
    background-color: #A0AABF;
}

.gold {
    background-color: #FFD700;
}

.platinum {
    background-color: #C0C0C0;
}

.pro {
    background-color: #DF7027;
}

.sponsorship table tbody tr:nth-child(02) {
    font-style: italic;
}

.sponsorship table tbody tr:nth-child(02) td:first-child {
    font-style: normal;
}